.esquerda{
  background-color: #fefefe;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .h1{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
  }
  .h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    }
  .h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
  }
  .input{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 5px;
    
    input{
      border: 1px solid #000000;
      padding: 15px;
      border-radius: 5px;
      outline: none;
    }
    .btn{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .btn{
    button{
      margin-top: 20px;
      background-color: pink;
      border: 1px solid pink;
      border-radius: 50px;
      padding: 5px 20px;
      width: 150px;
      font-size: 18px;
      cursor: pointer;
      outline: none;
      color: #fefefe;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
    }
    button:hover{
      border: 1px solid #fefefe;
      background-color: #fefefe;
      color: pink;
      box-shadow: 0 0 10px pink;
      transition-duration: 0.5s;
    }

      .link{
    color: rgb(255, 195, 205);
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative; /* Necessário para o posicionamento absoluto do pseudo-elemento */
    display: inline-block; /* Permite que o pseudo-elemento seja posicionado corretamente */
    padding-bottom: 5px; /* Espaço para a linha */
  }
  .link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Começa com largura zero */
    height: 3px; /* Espessura da linha */
    background-color: pink; /* Cor da linha */
    transition: width 0.3s ease; /* Transição na largura com duração de 0.3s e efeito ease */
  }
  .link:hover::after {
  width: 100%; /* A linha cresce para 100% da largura do link */
}
  }

  .icons{
    display: flex;
    gap: 5px;
    .btn{
      button{
        width: 100%;
      }
    }
  }
  img{
    width: 50px;
  }
  .baixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.direita{
  background-color: pink;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fefefe;

  .h1{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
  }
  h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .link{
    color: #fefefe;
    text-decoration: none;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative; /* Necessário para o posicionamento absoluto do pseudo-elemento */
    display: inline-block; /* Permite que o pseudo-elemento seja posicionado corretamente */
    padding-bottom: 5px; /* Espaço para a linha */
  }
  .link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Começa com largura zero */
    height: 3px; /* Espessura da linha */
    background-color: #fefefe; /* Cor da linha */
    transition: width 0.3s ease; /* Transição na largura com duração de 0.3s e efeito ease */
  }
  .link:hover::after {
  width: 100%; /* A linha cresce para 100% da largura do link */
}
}

*{
  margin: 0;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
}

@media (min-width: 383px) and (max-width: 1000px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  *{
    margin-right: 0;
  }
  .esquerda{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    .h1{
      font-size: 50px;
    }
    .input{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90vw;
      input{
        width: 50%;
      }
    }
  }
  .direita{
    width: 100%;
    height: 100vh;

    .h1{
      font-size: 40px;
    }
    .h2{
      font-size: 15px;
    }
  }
}

